@font-face {
  font-family: "nodriza-fonts";
  src: url('../fonts/nodriza-fonts.eot');
  src: url('../fonts/nodriza-fonts.eot?#iefix') format('eot'),
    url('../fonts/nodriza-fonts.woff2') format('woff2'),
    url('../fonts/nodriza-fonts.woff') format('woff'),
    url('../fonts/nodriza-fonts.ttf') format('truetype'),
    url('../fonts/nodriza-fonts.svg#nodriza-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nf:before {
  display: inline-block;
  font-family: "nodriza-fonts";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nf-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.nf-2x { font-size: 2em; }
.nf-3x { font-size: 3em; }
.nf-4x { font-size: 4em; }
.nf-5x { font-size: 5em; }
.nf-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.nf-aws-cloud:before { content: "\EA01" }
.nf-aws-full:before { content: "\EA02" }
.nf-aws:before { content: "\EA03" }
.nf-box:before { content: "\EA04" }
.nf-cc:before { content: "\EA05" }
.nf-dropbox:before { content: "\EA06" }
.nf-facebook:before { content: "\EA07" }
.nf-github:before { content: "\EA08" }
.nf-glyph23:before { content: "\EA09" }
.nf-glyph24:before { content: "\EA0A" }
.nf-glyph31:before { content: "\EA0B" }
.nf-glyph32:before { content: "\EA0C" }
.nf-google:before { content: "\EA0D" }
.nf-id-card:before { content: "\EA0E" }
.nf-key:before { content: "\EA0F" }
.nf-linkedin:before { content: "\EA10" }
.nf-lock:before { content: "\EA11" }
.nf-ms-365:before { content: "\EA12" }
.nf-nodriza-circle:before { content: "\EA13" }
.nf-nodriza-logosym:before { content: "\EA14" }
.nf-nodriza-outline:before { content: "\EA15" }
.nf-nodriza-powered:before { content: "\EA16" }
.nf-nodriza-sq:before { content: "\EA17" }
.nf-nodriza-typo:before { content: "\EA18" }
.nf-nodriza:before { content: "\EA19" }
.nf-pen-rule:before { content: "\EA1A" }
.nf-plugin:before { content: "\EA1B" }
.nf-salesforce:before { content: "\EA1C" }
.nf-slack:before { content: "\EA1D" }
.nf-twitter:before { content: "\EA1E" }
.nf-windows:before { content: "\EA1F" }
.nf-zendesk:before { content: "\EA20" }
